<main class="main">
    {{#with data}}
    <div class="main__content">
        <h1 class="title title--center">Додати до плейліста</h1>

        <ul class="track__list">
            {{#each tracks}}
            <li class="track">
                <img src="{{image}}" height="100px" alt="{{name}}">
                <div class="track__content">
                    <strong class="track__name">{{name}}</strong>
                    <em class="track__author">{{author}}</em>
                </div>
                <form method="POST" action="/spotify-track-add" class="form">
                    <input name="trackId" value="{{id}}" hidden>
                    <input name="playlistId" value="{{../playlistId}}" type="img" hidden>
                    <button>
                        <img src="/svg/add_button2.svg">
                    </button>
                </form>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/with}}
</main>