{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  {{#with data.purchase}}
  <form method="POST" action="/purchase-list" class="form-card">
    {{> heading title="Змінна данних"}}

    <div class="purchase-info">
      <p class="purchase-info__title">ID:</p>
      <span class="purchase-info__data">{{id}}</span>
    </div>


    {{>divider}}

    <div class="purchase-info__field2">

      {{> field label="Ім'я:" value="{{firstname}}" name="firstname"}}

      {{> field label="Прізвище:" value="{{lastname}}" name="lastname"}}

      {{> field label="Телефон:" value="{{phone}}" name="phone" }}

      {{> field label="Єлектронна пошта:" value="{{email}}" name="email"}}
    </div>

    {{>button text="Змінити дані"}}

  </form>
  {{/with}}
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}